<h1><%= data.title %></h1>
<% if (data.imagePath) { %>
    <img src="/<%= data.imagePath %>" alt="Post Image">
  <% } %>
<article class="article">
 <%= data.body%>
</article>

<form action="/posts/<%= data._id %>/comments" method="POST">
  <textarea name="content" placeholder="Add your comment"></textarea>
  <button type="submit">Add Comment</button>
</form>

<!-- Display existing comments -->
<% if (data.comments && data.comments.length > 0) { %>
  <h2>Comments</h2>
  <ul>
    <% data.comments.forEach(comment => { %>
      <li>
        <strong><%= comment.userId.username %></strong>: <%= comment.content %>
      </li>
    <% }); %>
  </ul>
<% } %>